@model IEnumerable<PensionMvc.Models.PensionerInput>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamePensioner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AadhaarNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PensionSelected)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamePensioner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AadhaarNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PensionSelected)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PAN }) |
            @Html.ActionLink("Details", "Details", new { id=item.PAN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PAN })
        </td>
    </tr>
}

</table>
